td {
    width: 80px;
    height: 80px;
    text-align: center;
}

td.dark {
    background-color: #BA7A3A;
}

td.light {
    background-color: rgb(224, 169, 67);
}

table {
    margin: 0px 100px;
}

.row {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    text-align: center;
    /* min-height: 100vh; */
}

.col {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    /* min-height: 100vh; */
}

.box {
    min-height: 200px;
    min-width: 100px;
    margin: 0 250px;
}